<div class="footer">
  <div class="company-info">
    <div class= "logo-company">
      <%= link_to home_path do  %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" alt="">
        <% end  %>
    </div>
    <p>AK Driving <br> sasu au capital de 7500€ <br> 15 Rue des Pâquerettes <br>92160 Antony <br> RCS Nanterre : 810 064 600</p>
  </div>

  <div class="footer-links">
    <a href="https://www.facebook.com/AkDrivingP/?__tn__=%2Cd%2CP-R&eid=ARBlsR7vfeE8WYJwxezXPqmoJbA3x8F2ZE2FQU01bfH0JtaJal4j1XpM3oa4DCia7kgjAzmR_T3AztOG"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>

  </div>
  <div class="footer-copyright">
    <a href="#"><i class="fas fa-mobile-alt"></i></a>
    <p>+33 6 20 40 18 64</p>
  </div>
</div>
