<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'PRESTATIONS', services_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'TARIFS', prices_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'CONTACT', contact_path %>
      </li>
      <li class="nav-item">
        <%= link_to "LIVRE D'OR / CLIENTS", clients_path %>
      </li>
    </ul>
  </div>
</div>

